- resources.each do |resource|
  section.example id="#{id_for(resource['name'])}" 
    h1.resource-name= resource['name']
    = render partial: 'resource_explanation', locals: { explanation: resource['explanation'] } if resource['explanation']
    - resource['examples'].each do |example|
      - link = example['link'].gsub('.json', '')
      article id="#{id_for(link)}" 
        = render partial: 'example', locals: { example: set_example(link), link: link }
