h3 Send request
/ = form_tag "http://0.0.0.0:7778/#{example['route']}", method: example['http_method'].to_sym, dataType: 'application/x-www-form-urlencoded', class: 'form-horizontal request-form' do
= form_tag( { action: "make_request", controller: :docs, method: example['http_method'].to_sym }, id: 'remote_form', class: 'form-horizontal request-form', remote: true) do
  = hidden_field_tag :request_parameters, example['parameters'].map { |e| e['name'] }
  - example['parameters'].each do |parameter|
    .form-group
      .col-md-2.control-label = label_tag parameter['name'].to_sym, parameter['name']
      .col-md-10
        = text_field_tag parameter['name'].to_sym, '', class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = submit_tag 'Send request', class: 'btn btn-default'
      
#response.hidden
  h3 Response
  b Status
  pre#response_status
  b Body
  pre#response_body 
