body
  header.navbar.navbar-fixed-top.docs-nav role="banner" 
    .container
      .navbar-header
        h1.navbar-brand
          a href="#{Apitome.configuration.mount_at}" = Apitome.configuration.title
