ul.nav.sidenav
  - if Apitome.configuration.readme
    li
      - if Apitome.configuration.single_page
        a href="#readme" = t(:readme, scope: :apitome)
      - else
        a href="#{Apitome.configuration.mount_at}" = t(:readme, scope: :apitome)
  / - resources.each do |resource|
  /   li
  /     - if Apitome.configuration.single_page
  /       a href="##{id_for(resource['name'])}" = resource['name']
  /       ul.nav
  /         - resource['examples'].each do |example|
  /           li= link_to example['description'], "## id_for(example['link']) "
  /     - else
  /       = link_to resource['name'], resource_link(resource), class: "#{link_active?(resource_link(resource)) ? 'active' : ''}"
  /       ul.nav
  /         - resource['examples'].each do |example|
  /           li class=("#{link_active?(example_link(example)) ? 'active' : ''}") 
  /             = link_to example['description'], example_link(example)
  - endpoints_tree.each do |route, examples|
    li
      = link_to route, endpoint_link(examples.first.data), class: "#{link_active?(example_link(examples.first.data)) ? 'active' : ''}"
      ul.nav
        - examples.each do |example|
          li= link_to example.data[:description], example_link(example.data)
