article.resource_explanation
  = raw rendered_markdown(explanation.strip_heredoc)
= render partial: 'apitome/docs/endpoint',       locals: {method: example['http_method'], endpoint: example['route']}
= render partial: 'apitome/docs/params',         locals: {params: example['parameters']} if example['parameters'].size > 0
