section.params
  h3= t(:response_fields, scope: :apitome)
  .table-responsive
    table.table.table-bordered
      tr
        - param_headers(params).each do |title|
          th= title
      - params.each do |param|
        tr
          td.name
            - if param['scope']
              = "#{param['scope']}[#{param['name']}]"
            - else
              = param['name']
          td.description= param['description']
          - param_extras(params).each do |extra|
            td.extra= param[extra]
