- if Apitome.configuration.readme
  section#readme.readme
    article
      = raw formatted_readme
- if Apitome.configuration.single_page
  a#scroll-to-top.hidden.btn.btn-primary href="#top"  Back to Top
= render 'all_examples' if Apitome.configuration.single_page
