h1.resource-name= example['resource']
= render partial: 'resource_explanation', locals: { explanation: example['resource_explanation'] } if example['resource_explanation']
= render partial: 'form', locals: { example: example }

