doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title= Apitome.configuration.title
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    = stylesheet_link_tag    Apitome.configuration.code_theme_url, media: 'all'
    = stylesheet_link_tag    Apitome.configuration.css_override || 'apitome/application', media: 'all'
    = javascript_include_tag Apitome.configuration.js_override || 'apitome/application'
  body class=("#{Apitome.configuration.single_page ? 'single-page' : ''}") 
    .container
      = render 'header'
      .container.docs-container
        .row
          .col-md-4
            #sidebar.sidebar.hidden-print role="complementary" 
              = render 'navigation'
          .col-md-8 role="main" 
            .docs-section
              = yield
